header {
	display: flex;
}

img {
	 border: 1px solid #ddd;
	 border-radius: 4px;
	 padding: 5px;
	 width: 150px;
	 height: 150px;
}

h2, h4 {
	color: #1589FF;
}

h2 {
	margin-top: 80px;
}

body {
	background-color: #E5E4E2;
}

